name: first workflow 

on: 
  push:
    branches:
      - main

jobs:
 example-job:
   runs-on: ubuntu-latest 

   steps:
      - name: print a welcome
        run: echo "welcome to our first github action"
